button {
    width: 400px;
    height: 400px;

    color:black;
    background: rgba(152, 128, 128, 0.7);
    margin:fill 10% ;
align-content: center;

}
body {
    background: skyblue;


}
img {
    width: 1500px;



}
h1 {
    text-align: center;
    width: ;700px


}